body{
    background-color: aquamarine;
}
h1{
        color: purple;
        font-family: system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
        text-align: center;
}

.main1_cont{
    background-color: whitesmoke;
    width: 50%;
    height: auto;
    margin: 0 auto;
}

form label{
    font-size: 20px;
    margin: 0 0 5px;
}

.input_text{
    display: inline-flex;
    max-width: 350px;
    margin: 0 0 20px;
    padding: 10px 0;
}

.btn_enviar{
    width: 50%;
    margin-bottom: 10px;
    padding: 15px 0;
    background-color: rgb(94, 94, 94);
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    transition: 1s all;
    cursor: pointer;
}

.btn_enviar:hover{
    background-color: rgb(133, 133, 133);
    transform: scale(1.1);
}

.form_cont{
    display: flex;
    flex-direction: column;
    align-items: center; 
}
